.bg-food{
background-image: url(https://img.freepik.com/free-photo/copy-space-italian-food-ingredients_23-2148551732.jpg?w=996&t=st=1683041759~exp=1683042359~hmac=2b482fa6749eb026ee392ff69c4c0d2ffc287da0c0d09962702e336390e23ca6);
background-size: 100% 100%;
min-height: 500px;
padding-top: 20px;

}