@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
 
 header{
  padding-left: 5%;
  padding-right: 5%;
 }
 .active{
  background: linear-gradient(90deg, #1c1d22 0%, #8dea3b 100%);
}